*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .titulo{
        display: flex;
        align-items: center;
        justify-content: center; 
        font-size: 3rem;
        padding: 2rem;
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .campo {
        height: 3rem;
        width: 3rem;
        font-size: 2rem;
        text-align: center;
        border-radius: 5px;
        border: 2px solid rgb(202, 202, 202)
    }

    .enviar {
        display: flex;
        align-items: center;
        justify-content: center; 
        font-size: 2rem;
    }